@model Profiles.Models.AnswerViewModel
</br>
@ViewBag.Message

</br>
@using (Html.BeginForm("StringView", "Home", FormMethod.Post))
{
    <input type="hidden" value="@Model.CurPos" name="CurPos" />
    <input type="hidden" value="@Model.Answers" name="Answers" />

    <input type="text" name="Answer" />

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Предыдущий вопрос", "Previous", "Home")</li>@//тут тоже наверное стоит сделать кнопку
            <li><input type="submit" value="Далее" /></li>
        </ul>
    </div>
}

